<button type="button" class="btn" routerLink="/">Back</button>
<div class="main">
    <p>Options, slide properties</p>

    <div class="example">
        <div class="tool">
            <sirv-media-viewer data-options="fullscreen.enable:false;">
                <img data-src="https://demo.sirv.com/demo/snug/teal-b-throw.jpg"/>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/unpacked.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/teal-shadow.jpg" data-options="mode: deep; map.enable: true;"></div>
            </sirv-media-viewer>
        </div>

        <div class="code">
            <div class="wrapper">
        <pre class="prettyprint">&lt;sirv-media-viewer data-options="fullscreen.enable:false;"&gt;
    &lt;img data-src="https://demo.sirv.com/demo/snug/teal-b-throw.jpg"/&gt;
    &lt;div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/unpacked.jpg"&gt;&lt;/div&gt;
    &lt;div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/teal-shadow.jpg" data-options="mode: deep; map.enable: true;"&gt;&lt;/div&gt;
&lt;/sirv-media-viewer&gt;</pre>
            </div>
        </div>
    </div>


    <div class="description">
        <pre class="string"> data-options="fullscreen.enable:false;" </pre> <a href="https://sirv.com/help/articles/sirv-media-viewer/">options</a>
        <p>Slides are added using html and properties are added using attributes</p>
        <p>Sirv media viewer
            <a href="https://sirv.com/help/articles/sirv-media-viewer/">documentation</a>
        </p>
    </div>
</div>
