<button type="button" class="btn" routerLink="/">Back</button>
<div class="main">
    <p>Simple example2</p>

    <div class="example">
        <div class="tool">
            <sirv-media-viewer data-options="autostart:off">
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/teal-b-throw.jpg"></div>
                <div data-src="https://demo.sirv.com/demo/snug/teal.spin"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/unpacked.jpg"></div>
                <div data-src="https://demo.sirv.com/demo/snug/sofa-build.mp4"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/teal-shadow.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/teal-b-cushions.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-00.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-01.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-02.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-03.jpg"></div>
                <div data-src="https://demo.sirv.com/demo/snug/stuffing.mp4"></div>
                <div data-src="https://demo.sirv.com/demo/snug/selfie.mp4"></div>
                <div data-src="https://demo.sirv.com/demo/snug/beer.mp4"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-04.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-05.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-06.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-07.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-08.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-09.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-10.jpg"></div>
                <div data-type="zoom" data-src="https://demo.sirv.com/demo/snug/sofa-detail-11.jpg"></div>
            </sirv-media-viewer>
        </div>

        <div class="code">
            <div class="wrapper">
        <pre class="prettyprint">&lt;sirv-media-viewer&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/teal-b-throw.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/teal.spin">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/unpacked.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-build.mp4">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/teal-shadow.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/teal-b-cushions.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-00.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-01.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-02.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-03.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/stuffing.mp4">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/selfie.mp4">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/beer.mp4">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-04.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-05.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-06.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-07.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-08.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-09.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-10.jpg" data-type="zoom">&lt;/div&gt;
    &lt;div data-src="https://demo.sirv.com/demo/snug/sofa-detail-11.jpg" data-type="zoom">&lt;/div&gt;
&lt;/sirv-media-viewer&gt;</pre>
            </div>
        </div>
    </div>


    <div class="description">
        <p>Sirv media viewer
            <a href="https://sirv.com/help/articles/sirv-media-viewer/">documentation</a>
        </p>
    </div>
</div>
